.appbar {
    width: 100%;
    height: 38px;
    background-color: black;
}


.title-bar-container {
    z-index: 0;
    width: 100%;
    height: 38px;
    min-height: 38px;
    overflow: hidden;
    background-color: black;
    user-select: none;
    -webkit-app-region: drag;
    -webkit-user-select: none;
}

.home-button,
.button-add {
    width: 38px;
    height: 38px;
    color: #BFBFBF;
    box-sizing: border-box;
    justify-content: center;
    min-width: 40px !important;
    -webkit-app-region: no-drag;
}

.home-button:hover,
.button-add:hover {
    color: white;
    background-color: rgb(25, 25, 25);
}

.home-button.active {
    color: white;
    background-color: rgb(25, 25, 25);
}

.tab-container {
    height: 38px;
    max-width: calc(100% - 76px);
    display: inline-block;
}

.tabs {
    width: 100%;
    height: 38px;
    overflow: auto;
}

.nav-tab {
    height: 38px;
    min-width: 48px;
    padding: 0 16px;
    background-color: black;
    -webkit-app-region: no-drag;
    border-right: 1px solid var(--divider-dark-color);
}

.nav-tab.active,
.nav-tab:hover {
    background-color: rgb(25, 25, 25);
}

.nav-tab>.tab-icon {
    padding: 0;
    margin: 0;
}

.nav-tab>.tab-title {
    white-space: nowrap;
    margin: 0 8px;
    color: #8C8C8C;
    overflow: hidden;
}

.nav-tab>.tab-close {
    color: #8C8C8C;
}

.nav-tab:hover>.tab-title,
.nav-tab.active>.tab-title,
.nav-tab:hover>.tab-close,
.nav-tab.active>.tab-close {
    color: white;
}

.tab-close:hover {
    background-color: transparent;
}

.title-bar {
    background-color: #292929;
}

.title-bar-win {
    width: calc(100% - 137px) !important;
}

.title-bar-mac {
    width: calc(100% - 70px) !important;
    margin-left: 70px;
}

.more-option-tab {
    width: 180px;
    padding: 4px 0;
    position: absolute;
    box-sizing: border-box;
    background-color: rgb(14, 14, 14);
    z-index: 4;
    top: 0;
    display: none;
    border-radius: 2px;
}

.more-option-tab .option-tile {
    padding: 8px 12px;
    box-sizing: border-box;
}

.more-option-tab .option-tile:hover {
    background-color: var(--primary-color);
}