img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

button:hover {
  cursor: pointer;
}

input {
  border: none;
  outline: none;
  background-color: white;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 2px;
  background-color: transparent;
}

.edit-container {
  width: 100%;
  display: flex;
  min-height: 48px;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  border-bottom: 1px solid #dfdfdf;
  padding: 8px;
  position: relative;
}

#edit_size_position_div {
  gap: 2px;
}

#group_btn_frame_direction > img:first-child {
  content: url(https://cdn.jsdelivr.net/gh/WiniGit/goline@859a1cc/lib/assets/frame_vertical.svg);
  background-color: #e5e5e5;
  padding: 4px 2.5px;
}

#group_btn_frame_direction > img:last-child {
  content: url(https://cdn.jsdelivr.net/gh/WiniGit/goline@859a1cc/lib/assets/frame_horizontal.svg);
  padding: 2.5px 4px;
}

.action-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* các button action trên design view */
.action-button {
  width: 28px;
  height: 28px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.action-button:hover {
  background-color: #f1f1f1;
  border-radius: 4px;
}

/* các form tile */
.container-edit-tile {
  width: 100%;
  display: inline-flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}

.header_design_style {
  width: 100%;
  display: inline-flex;
  box-sizing: border-box;
  align-items: center;
}

.header_design_style > *:first-child {
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  color: #292929;
  margin-left: 8px;
  flex: 1;
  width: 100%;
  text-align: left;
}

.header_design_style > i {
  padding: 12px 8px;
  border-radius: 2px;
}

.header_design_style > i:hover {
  background-color: #f1f1f1;
}

.header_design_style.disable {
  position: relative;
}

.header_design_style.disable > * {
  color: #c4c4c4;
}

.header_design_style.disable:hover:after {
  content: "can't use breakpoints in fit-content page";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 60%);
  background-color: #000000;
  padding: 8px 6px;
  font-size: 12px;
  color: white !important;
  white-space: nowrap;
}

.parameter-form {
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 4px;
  border-radius: 2px;
}

.show-color-container {
  -webkit-appearance: none;
  border: 0.5px solid #e5e5e5;
  width: 16px;
  height: 16px;
  padding: 0;
  border-radius: 4px;
}

.edit-color-form {
  width: 56px;
  height: 24px;
  margin-left: 8px;
  border: none;
  outline: none;
  font-size: 12px;
  padding: 0;
  background-color: transparent;
}

.edit-opacity-form {
  width: 40px;
  height: 24px;
  border: none;
  outline: none;
  font-size: 12px;
  margin-left: 8px;
  padding: 0;
  background-color: transparent;
}

.select-type-form {
  flex: 1;
  height: 24px;
  border: none;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  font-size: 12px;
  color: #595959;
  box-sizing: border-box;
  background-color: white;
}

.select-type-form:hover {
  border: 1px solid #dfdfdf;
  justify-content: space-between;
}

.dropdown-border-type {
  width: 140px;
  color: white;
  position: absolute;
  display: none;
  flex-direction: column;
  background-color: #292929;
  padding: 4px 0;
  border-radius: 2px;
  box-sizing: border-box;
  z-index: 2;
}

.dropdown-border-type div:hover {
  background-color: #1890ff;
}

#dropdown-effect-type {
  width: 140px;
  color: white;
  position: absolute;
  display: none;
  flex-direction: column;
  background-color: #292929;
  padding: 4px 0;
  border-radius: 2px;
  box-sizing: border-box;
  z-index: 5;
}

.popup_select_device {
  width: 260px;
  top: 92px;
  border-radius: 4px;
  overflow: hidden;
}

.popup_select_device div {
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  padding: 8px 12px;
  display: flex;
}

.popup_select_device div:hover {
  background-color: #1890ff;
}

.popup_list_resize_type {
  transform: translate(0, -50%);
  width: 132px;
  overflow: hidden;
}

.btn_resize {
  display: inline-flex;
  cursor: pointer;
  height: 32px;
  width: 94px;
  padding: 0 6px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 2px;
  align-items: center;
  position: relative;
}

.btn_resize span {
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 4px;
  opacity: 0.8;
}

.btn_resize:hover p {
  margin-right: 12px;
}

.btn_resize p {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #595959;
  margin-left: 2px;
  margin-right: 4px;
  opacity: 0.8;
}

.btn_resize:hover {
  border-color: #e5e5e5;
}

.btn_resize:focus .popup_list_resize_type {
  display: inline-flex;
}

.popup_list_resize_type div:hover {
  background-color: #1890ff;
}

.resize_type_option {
  display: inline-flex;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: #fff;
  background-color: transparent;
}

#select-type-form:focus #dropdown-effect-type {
  display: flex;
}

#dropdown-effect-type div:hover {
  background-color: #1890ff;
}

.option {
  width: 100%;
  height: 28px;
  display: inline-flex;
  align-items: center;
  padding: 0 8px;
  box-sizing: border-box;
  font-size: 12px;
}

.option-icon {
  width: 16px;
  height: 16px;
  padding: 2px;
  box-sizing: border-box;
}

.option-title {
  flex: 1;
  text-align: left;
  margin: 0 4px;
}

.edit-line-height-container {
  width: 52px;
  margin-right: 8px;
  height: 24px;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 2px;
}

.edit-line-height-container:hover {
  border: 1px solid #dfdfdf;
}

.edit-line-height {
  width: 24px;
  font-size: 12px;
  color: #595959;
}

.edit-effect-tile {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
}

.popup-button-box {
  display: flex;
  justify-content: flex-end;
}

#popup_table_skin {
  width: 228px;
  height: fit-content;
  max-height: 400px;
  min-height: 200px;
  border-radius: 4px;
  background-color: #ffffff !important;
  outline: 1px solid #dfdfdf;
  /* visibility: visible; */
}

.body_popup_skin {
  width: 100%;
  flex: 1;
  display: inline-flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 0 0 8px 0;
}

.body_popup_skin .search-skins {
  border-bottom: 1px solid #dfdfdf;
  padding: 8px 12px;
  box-sizing: border-box;
  margin-bottom: 8px;
  gap: 0;
}

.body_popup_skin > p {
  font-size: 12px;
  line-height: 16px;
}

.body_popup_skin .cate-skin-tile {
  display: none;
}

.body_popup_skin .cate-skin-tile:has(> .skin_tile_option) {
  display: flex;
}

.skin_tile_option {
  height: 32px;
  width: 100%;
  margin: 0;
  padding: 0 8px 0 16px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  display: inline-flex;
  align-items: center;
  text-overflow: ellipsis;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
}

.skin_tile_option p {
  margin: 0;
  text-overflow: ellipsis;
}

.skin_tile_option > div {
  align-items: center;
  white-space: nowrap;
  width: calc(100% - 56px);
}

.skin_tile_option:hover {
  background-color: #f5f5f5;
}

.skin_tile_option > i {
  display: none;
  align-items: center;
  justify-content: center;
  height: 100%;
  aspect-ratio: 1 / 1;
  padding: 8px;
  box-sizing: border-box;
}

.skin_tile_option:hover {
  position: relative;
}

.skin_tile_option:hover > i {
  display: flex;
  right: 0;
  position: absolute;
  background-color: #f5f5f5;
}

#popup_edit_skin {
  width: 228px;
  border-radius: 4px;
  background-color: #ffffff !important;
  outline: 1px solid #dfdfdf;
  left: 0px;
  top: 0px;
  transform: translate(-100%, -20%);
  padding-bottom: 8px;
}

.header_popup_skin {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 36px;
  font-size: 12px;
  font-weight: 600;
  border-bottom: 1px solid #dfdfdf;
  padding-left: 8px;
  padding-right: 4px;
  box-sizing: border-box;
}

.edit_skin_name {
  width: calc(100% - 16px);
  height: fit-content;
  box-sizing: border-box;
  border: 1px solid #e5e5e5;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  border-radius: 2px;
  margin: 6px 8px;
  padding: 6px 8px;
}

.edit_skin_name:focus {
  border-color: #1890ff;
}

.horizontal-divider {
  width: 100%;
  height: 1px;
  background-color: #dfdfdf;
}

.vertical-divider {
  width: 1px;
  height: 100%;
  background-color: #dfdfdf;
}

.ver-line {
  width: 1px;
  height: 100%;
}

.img-button.size-24 {
  width: 24px;
  height: 24px;
  padding: 6px;
  box-sizing: border-box;
}

.img-button.size-28 {
  width: 28px;
  height: 28px;
  padding: 8px;
  box-sizing: border-box;
}

.img-button.tlwh-option {
  border-radius: 2px;
  border: 1px solid transparent;
  padding: 4px 6px;
  margin-left: 20px;
}

.img-button.size-32 {
  width: 32px;
  height: 32px;
  padding: 8px;
  box-sizing: border-box;
}

.img-button:hover {
  background-color: #f1f1f1;
}

#edit_align_div {
  padding-left: 8px;
  padding-bottom: 8px;
  display: flex;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
}

#edit_align_div > .img-button {
  margin-right: 2px;
}

#edit_align_div > .img-button:nth-child(1) {
  content: url(https://cdn.jsdelivr.net/gh/WiniGit/goline@859a1cc/lib/assets/layout_align_left.svg);
}
#edit_align_div > .img-button:nth-child(2) {
  content: url(https://cdn.jsdelivr.net/gh/WiniGit/goline@859a1cc/lib/assets/layout_align_horizontal_center.svg);
}
#edit_align_div > .img-button:nth-child(3) {
  content: url(https://cdn.jsdelivr.net/gh/WiniGit/goline@859a1cc/lib/assets/layout_align_right.svg);
}
#edit_align_div > .img-button:nth-child(4) {
  content: url(https://cdn.jsdelivr.net/gh/WiniGit/goline@859a1cc/lib/assets/layout_align_top.svg);
}
#edit_align_div > .img-button:nth-child(5) {
  content: url(https://cdn.jsdelivr.net/gh/WiniGit/goline@859a1cc/lib/assets/layout_align_vertical_center.svg);
}
#edit_align_div > .img-button:nth-child(6) {
  content: url(https://cdn.jsdelivr.net/gh/WiniGit/goline@859a1cc/lib/assets/layout_align_bottom.svg);
}

#edit_align_div > .img-button:last-child {
  width: 40px;
  height: 32px;
  box-sizing: border-box;
  position: relative;
}

#edit_align_div > .img-button:last-child > img {
  content: url(https://cdn.jsdelivr.net/gh/WiniGit/goline@859a1cc/lib/assets/extend_align.svg);
  padding: 0;
}

#edit_align_div > .img-button:last-child > i {
  position: absolute;
  right: 2px;
  top: 50%;
  transform: translateY(-50%);
}

#div_frame_size_direction {
  display: inline-flex;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
}

#div_frame_size_direction button {
  height: 32px;
  width: 128px;
  display: inline-flex;
  border: 1.5px solid transparent;
  background-color: transparent;
  box-sizing: border-box;
  border-radius: 2px;
  align-items: center;
  padding: 0 8px;
  margin-right: 8px;
  justify-content: start;
}

#div_frame_size_direction button:hover {
  border-color: #e5e5e5;
  justify-content: space-between;
}

#row_radius_detail {
  display: none;
  height: 32px;
  width: 200px;
  align-items: center;
  border: 2px solid transparent;
  overflow: hidden;
  border-radius: 4px;
}

#row_radius_detail input {
  height: 100%;
  min-width: 0;
  font-size: 12px;
  line-height: 16px;
  color: #595959;
  flex: 1;
  box-sizing: border-box;
  padding: 4px;
  margin-left: 4px;
  border: none;
}

#row_radius_detail:hover {
  border-color: #e5e5e5;
}

#row_radius_detail:focus-within {
  border-color: #1890ff !important;
}

.layout-align-table {
  width: 64px;
  height: 64px;
  margin: 0 32px 0 56px;
  border: 1.5px solid #e5e5e5;
  border-radius: 4px;
  position: relative;
}

.layout_btn_align_type {
  width: 20px;
  height: 20px;
  position: absolute;
  opacity: 0.05;
}

.layout_btn_align_type:hover {
  opacity: 0.5;
}

.layout-align-table > #TopLeft {
  top: 0;
  left: 0;
  content: url(https://cdn.jsdelivr.net/gh/WiniGit/goline@859a1cc/lib/assets/top%20horizontal.svg);
}

.layout-align-table[oy="true"] > #TopLeft {
  content: url(https://cdn.jsdelivr.net/gh/WiniGit/goline@859a1cc/lib/assets/left%20vertical.svg);
}

.layout-align-table > #TopCenter {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  content: url(https://cdn.jsdelivr.net/gh/WiniGit/goline@859a1cc/lib/assets/top%20horizontal.svg);
}

.layout-align-table[oy="true"] > #TopCenter {
  content: url(https://cdn.jsdelivr.net/gh/WiniGit/goline@859a1cc/lib/assets/center%20vertical.svg);
}

.layout-align-table > #TopRight {
  top: 0;
  right: 0;
  content: url(https://cdn.jsdelivr.net/gh/WiniGit/goline@859a1cc/lib/assets/top%20horizontal.svg);
}

.layout-align-table[oy="true"] > #TopRight {
  content: url(https://cdn.jsdelivr.net/gh/WiniGit/goline@859a1cc/lib/assets/right%20vertical.svg);
}

.layout-align-table > #LeftCenter {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  content: url(https://cdn.jsdelivr.net/gh/WiniGit/goline@859a1cc/lib/assets/center%20horizontal.svg);
}

.layout-align-table[oy="true"] > #LeftCenter {
  content: url(https://cdn.jsdelivr.net/gh/WiniGit/goline@859a1cc/lib/assets/left%20vertical.svg);
}

.layout-align-table > #Center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  content: url(https://cdn.jsdelivr.net/gh/WiniGit/goline@859a1cc/lib/assets/center%20horizontal.svg);
}

.layout-align-table[oy="true"] > #Center {
  content: url(https://cdn.jsdelivr.net/gh/WiniGit/goline@859a1cc/lib/assets/center%20vertical.svg);
}

.layout-align-table > #RightCenter {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  content: url(https://cdn.jsdelivr.net/gh/WiniGit/goline@859a1cc/lib/assets/center%20horizontal.svg);
}

.layout-align-table[oy="true"] > #RightCenter {
  content: url(https://cdn.jsdelivr.net/gh/WiniGit/goline@859a1cc/lib/assets/right%20vertical.svg);
}

.layout-align-table > #BottomLeft {
  bottom: 0;
  left: 0;
  content: url(https://cdn.jsdelivr.net/gh/WiniGit/goline@859a1cc/lib/assets/bottom%20horizontal.svg);
}

.layout-align-table[oy="true"] > #BottomLeft {
  content: url(https://cdn.jsdelivr.net/gh/WiniGit/goline@859a1cc/lib/assets/left%20vertical.svg);
}

.layout-align-table > #BottomCenter {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  content: url(https://cdn.jsdelivr.net/gh/WiniGit/goline@859a1cc/lib/assets/bottom%20horizontal.svg);
}

.layout-align-table[oy="true"] > #BottomCenter {
  content: url(https://cdn.jsdelivr.net/gh/WiniGit/goline@859a1cc/lib/assets/center%20vertical.svg);
}

.layout-align-table > #BottomRight {
  bottom: 0;
  right: 0;
  content: url(https://cdn.jsdelivr.net/gh/WiniGit/goline@859a1cc/lib/assets/bottom%20horizontal.svg);
}

.layout-align-table[oy="true"] > #BottomRight {
  content: url(https://cdn.jsdelivr.net/gh/WiniGit/goline@859a1cc/lib/assets/right%20vertical.svg);
}

.text_field_right_view {
  display: inline-flex;
  height: 32px;
  padding-left: 8px;
  align-items: center;
  border: 2px solid transparent;
  overflow: hidden;
  background-color: transparent;
  border-radius: 4px;
}

.text_field_right_view input {
  height: 100%;
  min-width: 0;
  font-size: 12px;
  line-height: 16px;
  color: #595959;
  flex: 1;
  box-sizing: border-box;
  padding: 4px;
  margin-left: 4px;
  border: none;
}

.text_field_right_view input:disabled {
  opacity: 0.6;
}

.text_field_right_view:focus-within {
  border-color: #1890ff !important;
}

.text_field_right_view:hover {
  border-color: var(--border-color);
}

.group_btn_direction {
  height: 28px;
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  margin-left: 8px;
  border-radius: 2px;
  box-sizing: border-box;
  border: 1.5px solid transparent;
}

.group_btn_direction:hover {
  border-color: #e5e5e5;
}

.group_btn_direction img {
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  background-color: transparent;
  border-radius: 2px;
}

.group_btn_direction i {
  box-sizing: border-box;
  background-color: transparent;
  border-radius: 2px;
  padding: 12px 8px;
}

#edit-layout-header p {
  margin-left: 8px;
  opacity: 0.6;
}

#edit-layout-header i {
  padding: 14px 8px;
  box-sizing: border-box;
  border-radius: 2px;
  opacity: 0.6;
}

#edit-layout-header i:hover {
  background-color: #f1f1f1;
  opacity: 1;
}

#edit-layout-header:hover * {
  opacity: 1;
}

.icon_btn_default_style {
  box-sizing: border-box;
  border-radius: 2px;
  padding: 6px;
  height: fit-content;
}

.icon_btn_default_style:hover {
  background-color: #f1f1f1;
}

#group_input_edit_padding {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  margin: 8px 0;
}

.group_input_border_side {
  display: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  margin: 0 0 8px 0;
}

#group_input_edit_padding img {
  width: 26px;
  height: 26px;
  padding: 6px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid transparent;
}

#group_input_edit_padding img:hover {
  background-color: #f1f1f1;
}

.btn_input_select {
  width: calc(100% - 12px);
  height: 28px;
  padding: 0 0 0 4px;
  margin-left: 4px;
  box-sizing: border-box;
  border: 2px solid transparent;
  overflow: visible;
  border-radius: 2px;
  position: relative;
}

.btn_input_select:hover {
  border-color: #f5f5f5;
}

.btn_input_select:hover > i {
  display: block !important;
}

.btn_input_select input {
  width: 70%;
  font-size: 12px;
  color: #262626;
  line-height: 16px;
  margin: 0;
  padding-left: 4px;
}

.btn_input_select > i {
  padding: 11.5px 8px;
  background-color: #f5f5f5;
  float: right;
  display: none;
}

.btn_input_select:focus-within {
  border-color: #1890ff !important;
}

.btn_dropdown_select {
  width: 100%;
  flex: 1;
  height: 28px;
  padding: 0 0 0 8px;
  margin-left: 4px;
  box-sizing: border-box;
  display: inline-flex;
  border: 2px solid transparent;
  align-items: center;
  overflow: hidden;
  border-radius: 2px;
  position: relative;
  overflow: visible;
}

.btn_dropdown_select > span {
  font-size: 12px;
  color: #262626;
  line-height: 16px;
  margin: 4px 0;
  pointer-events: none;
}

.btn_dropdown_select > img {
  height: 11px;
  width: 11px;
  padding: 0 4px;
  pointer-events: none;
}

.btn_dropdown_select:hover {
  border-color: #e5e5e5;
  justify-content: space-between;
}

.popup_select {
  width: 100%;
  border-radius: 4px;
  top: 0;
  left: 0;
  z-index: 2;
  overflow: hidden;
  transform: translateX(-2%);
}

.popup_select div {
  display: inline-flex;
  padding: 4px 8px;
  align-items: center;
}

.popup_select div:hover {
  background-color: #1890ff;
}

.group_btn_select {
  display: inline-flex;
  width: fit-content;
  border: 1px solid transparent;
  border-radius: 2px;
}

.group_btn_select:hover {
  border-color: #e5e5e5;
}

.group_btn_select > img:nth-child(2) {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}

.group_btn_select:hover > img:nth-child(2) {
  border-color: #e5e5e5;
}

.c_white {
  color: white;
}

.connstraints-rect {
  width: 66px;
  height: 66px;
  border-radius: 2px;
  position: relative;
  display: flex;
  padding: 12px;
  box-sizing: border-box;
  border: 1px solid #e5e5e5;
  margin: 0 8px;
}

.connstraints-rect > div:first-child {
  width: 100%;
  height: 100%;
  border: 1px solid #8c8c8c;
  border-radius: 2px;
  box-sizing: border-box;
}

.connstraints-rect > .constraint-selector-outerHorizontal {
  display: flex;
  padding: 8px 2px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.connstraints-rect > .constraint-selector-outerHorizontal > div {
  width: 8px;
  height: 1px;
  background-color: #000000;
}

.connstraints-rect > .constraint-selector-outerHorizontal:hover {
  background-color: #5cbbff;
}

.connstraints-rect > .constraint-selector-outerVertical {
  display: flex;
  padding: 2px 8px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.connstraints-rect > .constraint-selector-outerVertical > div {
  width: 1px;
  height: 8px;
  background-color: #000000;
}

.connstraints-rect > .constraint-selector-outerVertical:hover {
  background-color: #5cbbff;
}

.wbase_skin_tile {
  display: flex;
  height: 32px;
  align-items: center;
}

.wbase_skin_tile > div {
  display: inline-flex;
  flex: 1;
  width: 100%;
  height: 28px;
  padding: 2px 8px;
  align-items: center;
  font-size: 12px;
  line-height: 16px;
  text-align: left;
  font-weight: 500;
  text-overflow: ellipsis;
}

.wbase_skin_tile:hover img:nth-child(2) {
  display: block;
}

.wbase_skin_tile > *:hover {
  background-color: #f1f1f1;
}

.wbase_skin_tile img:nth-child(2) {
  display: none;
}

.wbase_skin_tile > img {
  width: 28px;
  height: 28px;
}

#btn_select_effect_type {
  width: 100%;
  flex: 1;
  height: 28px;
  padding: 0 0 0 8px;
  margin-left: 4px;
  box-sizing: border-box;
  display: inline-flex;
  border: 2px solid transparent;
  align-items: center;
  overflow: hidden;
  border-radius: 2px;
  position: relative;
  overflow: visible;
}

#btn_select_effect_type > span {
  font-size: 12px;
  color: #262626;
  line-height: 16px;
  margin: 4px 0;
  pointer-events: none;
}

#btn_select_effect_type > i {
  margin: 0 4px 2px 4px;
  color: #8c8c8c;
  pointer-events: none;
}

#btn_select_effect_type:hover {
  border-color: #e5e5e5;
  justify-content: space-between;
}

.mixed_skin_text {
  font-size: 12px;
  line-height: 16px;
  margin-left: 8px;
}

.popup_edit_effect_attribute {
  width: 240px;
  height: fit-content;
  display: none;
  align-items: flex-start;
  background-color: #ffffff !important;
  border-radius: 4px;
  top: 0;
  left: 0;
  z-index: 2;
  border: 1px solid #e5e5e5;
}

.popup_edit_effect_attribute > span {
  width: 100%;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  border-bottom: 1px solid #e5e5e5;
  padding: 8px;
  margin: 0;
  box-sizing: border-box;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popup_edit_effect_attribute > div {
  width: 100%;
  padding: 8px;
  display: flex;
  flex-wrap: wrap;
}

.popup_edit_effect_attribute .text_field_right_view {
  margin: 4px 8px;
}

#btn_combine_variant {
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  padding: 6px 0 6px 0;
  margin: 8px 16px;
  box-sizing: border-box;
  border: 1.5px solid #262626;
  border-radius: 4px;
  cursor: pointer;
}

#list_property_div {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 6px;
}

#list_property_div p {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.property_tile {
  padding: 0 8px 0 16px;
  width: 100%;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  overflow: hidden;
}

.property_tile input {
  flex: 1;
  height: 30px;
  box-sizing: border-box;
  background-color: transparent;
  padding: 4px;
  margin: 0 6px;
  cursor: context-menu;
}

.property_tile p {
  flex: 1;
}

.group_action_btn_property_tile {
  display: none;
  align-items: center;
}

.group_action_btn_property_tile > i {
  padding: 14px 9px;
}

.group_action_btn_property_tile > i:hover {
  background-color: #5cbbff;
}

.property_tile:hover {
  background-color: #e6f7ff;
}

.property_tile:hover .group_action_btn_property_tile {
  display: flex;
}

.property_tile:focus-within {
  background-color: #e6f7ff;
}

.property_tile:focus-within .group_action_btn_property_tile {
  display: none;
}

.select_base_property_tile {
  display: inline-flex;
  padding: 0 8px 0 16px;
  align-items: center;
}

.select_property_variant {
  position: relative;
  overflow: visible;
  padding-left: 7px;
  border: 2px solid transparent;
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  width: 116px;
  margin-left: 8px;
  height: 30px;
}

.select_property_variant:hover {
  border-color: #f1f1f1;
}

.select_property_variant:focus-within {
  border-color: #1890ff;
}

.select_property_variant > input {
  flex: 1;
  width: 100%;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  outline: none;
  padding: 0;
}

.select_property_variant > i {
  display: none;
  padding: 15px 9px;
  color: #595959;
}

.select_property_variant:hover > i {
  display: block;
}

.select_property_variant > i:hover {
  background-color: #f1f1f1;
}

.dropdown_select_baseProperty {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: fit-content;
  background-color: #000000;
  border-radius: 2px;
  display: none;
  flex-direction: column;
  overflow: hidden;
}

.dropdown_select_baseProperty div {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
  display: flex;
  padding: 6px 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  align-items: center;
}

.dropdown_select_baseProperty div:hover {
  background-color: #1890ff;
}

#select_img_tile {
  height: 28px;
  width: 100%;
  display: inline-flex;
  align-items: center;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
}

#select_img_tile > div:first-child {
  width: 100%;
  height: 100%;
  display: inline-flex;
  align-items: center;
  border: 1.5px solid transparent;
  border-radius: 2px;
  flex: 1;
  margin: 4px 40px 0 4px;
  box-sizing: border-box;
}

#select_img_tile > div:first-child:hover {
  border-color: #f1f1f1;
}

#select_img_tile > div:first-child:focus-within {
  border-color: #1890ff;
}

#select_img_tile > div:first-child > p {
  height: 100%;
  width: 48px;
  margin: 0;
  padding-left: 4px;
  border-left: 1.5px solid transparent;
  border-right: 1.5px solid transparent;
  display: flex;
  align-items: center;
}

#select_img_tile > div:first-child:hover > p {
  border-color: #f1f1f1;
}

#select_img_tile > i:hover {
  background-color: #f1f1f1;
  border-radius: 2px;
}

#popup_img_document {
  width: 404px;
  height: 420px;
  position: absolute;
  border-radius: 4px;
  background-color: #ffffff;
  display: inline-flex;
  flex-direction: column;
  outline: 1px solid #dfdfdf;
  left: 0px;
  top: 0px;
}

#list_folder_container {
  width: 116px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #dfdfdf;
}

#list_img_container {
  width: 100%;
  height: calc(100% - 36px);
  flex: 1;
  overflow-y: scroll;
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
  align-content: flex-start;
  padding-right: 6px;
  padding-left: 6px;
  align-items: center;
}

.img_folder_demo {
  width: 64px;
  height: 64px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  box-sizing: border-box;
  border: 0.2px solid #292929;
  border-radius: 2px;
}

.img_folder_demo > svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#list_img_container > div:first-child {
  width: 100%;
  height: 32px;
  background-color: #e5e5e5;
  border-radius: 2px;
  display: flex;
  overflow: hidden;
  align-items: center;
  margin: 4px 0 10px 0;
}

#list_img_container > div:first-child > input {
  flex: 1;
  width: 100%;
  height: 28px;
  background-color: #e5e5e5;
  border-radius: 2px;
  padding: 0 6px;
  outline: none;
  border: none;
}

#list_folder_container > div {
  display: flex;
  align-items: center;
  width: 100%;
  height: 32px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
}

#list_folder_container > div:first-child > i:hover {
  background-color: #f1f1f1;
}

.folder_tile:hover {
  background-color: #f1f1f1;
}

.folder_tile > input {
  height: 100%;
  background-color: transparent;
  padding: 4px;
  text-overflow: ellipsis;
  cursor: context-menu;
}

.folder_tile > input:focus {
  outline: 1.5px solid #1890ff;
}

#popup_img_options {
  min-width: 120px;
  height: fit-content;
  width: fit-content;
  overflow: hidden;
  padding: 2px 0;
  box-sizing: border-box;
}

#popup_img_options > div {
  width: 100%;
  font-size: 12px;
  line-height: 16px;
  color: white;
  font-weight: 500;
  white-space: nowrap;
  padding: 6px 8px;
}

#popup_img_options > div:hover {
  background-color: #1890ff;
}

.prototype-view-container {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.prototype-view-container button {
  border: 0;
  background-color: transparent;
}

.prototype-view-container > .interactions-view {
  padding: 8px;
  box-sizing: border-box;
  border-bottom: 1px solid #eceff4;
}

.prototype-view-container > .interactions-view button:hover {
  background-color: #f9fafb;
}

.prototype-view-container > .interactions-view > .interactions-header {
  width: 100%;
  height: 32px;
  padding-left: 8px;
  box-sizing: border-box;
  justify-content: space-between;
}

.prototype-view-container > .interactions-view > .interaction-setting-container {
  width: 100%;
  height: 32px;
  justify-content: space-between;
}

.prototype-view-container > .interactions-view > .interaction-setting-container > .interaction-setting {
  flex: 1;
  padding: 0;
  text-align: start;
  padding: 0px 8px;
  box-sizing: border-box;
  height: 100%;
}

.prototype-view-container > .interactions-view > .interaction-setting-container > .interaction-setting > span {
  flex: 1;
  color: #1c2430;
}

.prototype-view-container > .interactions-view > .interaction-setting-container > .interaction-setting > i {
  width: 32px;
  color: #8c8c8c;
  text-align: center;
}

.is-active .interactions-setting-box {
  display: flex;
}

.interactions-setting-box {
  width: 240px;
  position: absolute;
  background-color: white;
  display: none;
  padding: 8px 0;
  box-sizing: border-box;
}

.interaction-details-header {
  padding: 0 8px 0 16px;
  height: 40px;
  box-sizing: border-box;
  justify-content: space-between;
  border-bottom: 1px solid #eceff4;
}

.interactions-setting-box > .interaction-basic-setting {
  padding: 8px;
  box-sizing: border-box;
  border-bottom: 1px solid #eceff4;
}

.interactions-setting-box > .interaction-basic-setting i {
  color: #8c8c8c;
}

.interactions-setting-box > .interaction-basic-setting span {
  color: #595959;
}

.interactions-setting-box > .interaction-basic-setting > .select-user-action {
  width: 100%;
  height: 30px;
  padding: 0 12px 0 8px;
  text-align: start;
  box-sizing: border-box;
  margin: 4px 0;
}

.interactions-setting-box > .interaction-basic-setting > .select-user-action:hover {
  border-radius: 4px;
  outline: 1px solid #eceff4;
}

.interactions-setting-box > .interaction-basic-setting > .select-user-action:hover i {
  color: #262626;
}

.interactions-setting-box > .interaction-basic-setting > .select-user-action > span {
  margin: 0 8px;
  flex: 1;
}

.interactions-setting-box > .interaction-basic-setting > .Interactive-view {
  width: 100%;
  height: 30px;
  text-align: start;
  box-sizing: border-box;
  margin: 4px 0;
}

.interactions-setting-box > .interaction-basic-setting > .Interactive-view > .select-view-action {
  flex: 3;
  height: 100%;
  margin-right: 8px;
  padding: 0 12px 0 8px;
}

.interactions-setting-box > .interaction-basic-setting > .Interactive-view > .select-view-action:hover i {
  color: #262626;
}

.interactions-setting-box > .interaction-basic-setting > .Interactive-view > .select-view-action > span {
  flex: 1;
  margin: 4px 0;
}

.interactions-setting-box > .interaction-basic-setting > .Interactive-view > .select-view-action:hover {
  border-radius: 4px;
  outline: 1px solid #eceff4;
}

.interactions-setting-box > .interaction-basic-setting > .Interactive-view > .select-towards-view {
  flex: 2;
  height: 100%;
  padding: 0 12px 0 8px;
}

.interactions-setting-box > .interaction-basic-setting > .Interactive-view > .select-towards-view:hover {
  border-radius: 4px;
  outline: 1px solid #eceff4;
}

.interactions-setting-box > .interaction-basic-setting > .Interactive-view > .select-towards-view:hover i {
  color: #262626;
}

.interactions-setting-box > .interaction-basic-setting > .Interactive-view > .select-towards-view > span {
  flex: 1;
  margin: 4px 0;
}

.interaction-animation-setting > .animation-header-title {
  width: 100%;
  height: 48px;
  padding: 0 16px;
  box-sizing: border-box;
}

.interaction-animation-setting > .animation-effect-demo {
  width: 100%;
  height: 120px;
  background-color: #eceff4;
}

.select-animation-direction {
  height: 40px;
  padding: 0 12px 0 8px;
  box-sizing: border-box;
  margin-top: 8px;
}

.select-animation-direction > .select-type-move {
  padding: 0 8px;
  box-sizing: border-box;
  height: 32px;
  margin-right: 8px;
}

.select-animation-direction > .select-type-move > span {
  margin: 0 6px;
}

.select-animation-direction > .select-type-move:hover {
  box-sizing: border-box;
  outline: 1px solid #eceff4;
  border-radius: 0px;
}

.select-animation-direction > .select-direction {
  flex: 1;
  height: 28px;
  flex-wrap: nowrap;
  border-radius: 4px;
  /* overflow: hidden; */
}

.select-animation-direction > .select-direction:hover {
  outline: 1px solid #eceff4;
  border-radius: 4px;
}

.select-animation-direction > .select-direction:hover > button:not(:last-child) {
  border-right: 1px solid #eceff4;
}

.select-animation-direction > .select-direction > button {
  flex: 1;
  height: 100%;
  border-radius: 4px;
}

.select-animation-direction > .select-direction > button:hover {
  border-radius: 0px;
}

.select-animation-direction > .select-direction > button.active {
  background-color: #eceff4;
}

.smart-animation {
  height: 32px;
  padding: 0 12px;
  box-sizing: border-box;
}

.smart-animation > input {
  margin-right: 8px;
  padding: 0;
  margin-bottom: 4px;
  pointer-events: none;
}

.setting-effect {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.setting-effect > .select-effect-button {
  flex: 1;
  padding: 0;
  height: 32px;
  margin-right: 16px;
  padding: 0 8px;
  border-radius: 4px;
}

.setting-effect > .select-effect-button:hover {
  outline: 1px solid #eceff4;
}

.setting-effect > .select-effect-button > .effect-name {
  flex: 1;
  text-align: left;
  margin: 0 8px;
}

.setting-effect > .input-time {
  flex: 1;
  height: 32px;
  border-radius: 4px;
  padding-left: 8px;
  box-sizing: border-box;
}

.setting-effect > .input-time > input {
  padding-left: 8px;
  box-sizing: border-box;
  border-radius: 4px;
}

.select-user-actions-dropdown {
  width: calc(100% - 16px);
  background-color: #262626;
  border-radius: 4px;
  position: absolute;
  display: none;
  padding: 4px 0;
  box-sizing: border-box;
  min-height: 32px;
}

.select-view-actions-dropdown,
.select-towards-pages-dropdown {
  width: 180px;
  background-color: #262626;
  border-radius: 4px;
  position: absolute;
  display: none;
  padding: 4px 0;
  box-sizing: border-box;
  min-height: 32px;
}

.Interactive-view.show-towards-dropdown .select-towards-pages-dropdown {
  display: flex;
}

.Interactive-view.show-view-action .select-view-actions-dropdown {
  display: flex;
}

.interaction-basic-setting.show-user-action .select-user-actions-dropdown {
  display: flex;
}

.dropdown-tile {
  height: 32px;
  width: 100%;
  color: white;
  padding: 0 16px;
  box-sizing: border-box;
}

.dropdown-tile:hover {
  background-color: #1890ff;
}

.dropdown-border-bottom {
  border-bottom: 1px solid #444444;
}

.prototype-point {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #e14337;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.prototype-point > i {
  color: #e14337;
  border-radius: 50%;
}

#dialog_merge_skin {
  width: 560px;
  height: 560px;
  border-radius: 4px;
  background-color: #ffffff;
  transform: translateY(-40px);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#merge_skins_dialog_content {
  flex: 1;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  box-sizing: border-box;
}

#merge_skins_dialog_content > .row:first-child > p {
  flex: 1;
  margin: 6px 8px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  color: #262626;
}

#merge_skins_dialog_content .cate-title {
  padding: 4px 8px;
  display: flex;
  align-items: center;
  color: #8c8c8c;
}

#merge_skins_dialog_content .cate-title > p {
  margin: 0;
  margin-left: 4px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
}

#merge_skins_dialog_content .cate-title > i {
  padding: 8px;
}

#merge_skins_dialog_content .cate-title > i:hover {
  background-color: #f1f1f1;
  border-radius: 2px;
}

.merge-skin-tile {
  display: flex;
  align-items: center;
}

.merge-skin-tile > div {
  padding: 6px 12px;
  display: flex;
  width: 50%;
  box-sizing: border-box;
  align-items: center;
}

.merge-skin-tile .demo-div {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.merge-skin-tile > div > p {
  margin: 0;
  margin-left: 8px;
}

.merge-skin-tile > div > i {
  color: #8c8c8c;
  margin-right: 8px;
}

#body > .popup-options {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: fit-content;
  max-height: 120px;
  overflow-y: scroll;
  background-color: #000000;
  border-radius: 2px;
  transform: translateY(32px);
}

#edit-wini-res > div:last-child {
  padding: 0 16px;
}

#edit-wini-res > div:last-child:hover {
  background-color: #f1f1f1;
}

.breakpoint-popup {
  transform: translateX(-101%);
  align-items: center;
  background-color: #ffffff !important;
  border-radius: 2px;
  overflow: hidden;
}

.breakpoint-popup > .popup-header {
  width: 350px;
  display: flex;
  align-items: center;
  padding: 8px 8px 8px 16px;
}

.breakpoint-popup > .popup-header > p {
  margin: 0;
  flex: 1;
  width: 100%;
}

.breakpoint-popup > .popup-header > i {
  padding: 8px;
}

.breakpoint-popup > .popup-body {
  width: 350px;
  height: 264px;
  display: flex;
  flex-direction: column;
  padding: 8px 16px;
  box-sizing: border-box;
  overflow-y: scroll;
  justify-content: start;
}

.breakpoint-popup > .popup-body > .edit-breakpoint-tile {
  padding: 8px 16px;
  width: 100%;
  box-sizing: border-box;
  gap: 12px;
}

.edit-breakpoint-tile > input {
  flex: 1;
  width: 100%;
  margin: 0;
  border: 1px solid transparent;
  cursor: context-menu;
}

.edit-breakpoint-tile > input:focus {
  border-color: #1890ff;
  border-radius: 8px;
  cursor: text;
}

.edit-breakpoint-tile > input:read-only:focus {
  border: 1px solid transparent;
  cursor: context-menu;
}

.edit-breakpoint-tile > div {
  flex: 1;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #e5eaf0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 4px 8px;
  margin-right: 20px;
}

.edit-breakpoint-tile > div:focus-within {
  border-color: #1890ff;
}

.edit-breakpoint-tile > div > input {
  flex: 1;
  width: 100%;
  font-size: 12px;
  line-height: 16px;
  color: #4b6281;
}

.breakpoint-popup > .popup-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 4px;
}

.breakpoint-popup > .popup-bottom > * {
  color: #1890ff;
  margin: 0;
}

.breakpoint-column-tile {
  width: 100%;
  gap: 8px;
  padding: 4px 4px 4px 8px;
  box-sizing: border-box;
}

.breakpoint-column-tile > * {
  flex: 1;
  width: 100%;
  overflow-x: hidden;
}

.breakpoint-column-tile > div:first-child > p:first-child {
  flex: 1;
  width: 100%;
  overflow-x: hidden;
  text-overflow: ellipsis;
  max-lines: 1;
  margin: 0px 2px 0px 0px;
  white-space: nowrap;
}

.style-class-tile {
  height: 28px;
  padding: 0 4px;
  box-sizing: border-box;
}

.style-class-tile > img {
  display: none;
  border-radius: 2px;
}

.style-class-tile > img:nth-child(2) {
  width: 28px;
  height: 28px;
  padding: 8px;
  box-sizing: border-box;
}

.style-class-tile > img:nth-child(3) {
  width: 28px;
  height: 28px;
  box-sizing: border-box;
}

.style-class-tile > p {
  margin: 0;
  flex: 1;
  width: 100%;
  padding: 6px 8px;
}

.style-class-tile > p:hover {
  background-color: #f1f1f1;
}

.style-class-tile:hover > img {
  display: block;
}

.style-class-tile > img:hover {
  display: block;
  background-color: #f1f1f1;
}

.attr-settings-details {
  padding: 0 8px 8px 16px;
  row-gap: 8px;
}

div:has(> .edit-color-container) {
  margin-top: 6px;
  column-gap: 8px;
}

.edit-color-container {
  height: 28px;
  display: flex;
  align-items: center;
  padding: 2px 4px;
  border-radius: 2px;
  border: 1px solid transparent;
  box-sizing: border-box;
}

.edit-color-container:hover {
  border-color: #e5e5e5;
}

.edit-color-container:focus-within {
  border-color: #e5e5e5;
}

.edit-color-container > .demo-color {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  border: 0.5px solid #e5e5e5;
  box-sizing: border-box;
  padding: 0;
}

.edit-color-container > .hex-color-value {
  width: 56px;
  margin-left: 6px;
  border: none;
  outline: none;
  padding: 0;
  height: 100%;
}

.edit-color-container > .opacity-color-value {
  width: 46px;
  border: none;
  outline: none;
  padding: 0 0 0 6px;
  height: 100%;
  box-sizing: border-box;
}

.edit-color-container:focus-within > .opacity-color-value {
  border-left: 1px solid #e5e5e5;
}

.attr-settings-details input[type="checkbox"] {
  width: fit-content;
  min-width: 0;
  scale: 1.2;
  margin-right: 8px;
  margin-left: 4px;
}

.edit-color-container + button {
  outline: none;
  border: 1px solid transparent;
  width: 24px;
  height: 24px;
  background-color: transparent;
}

.edit-color-container + button:hover {
  border-color: #e5e5e5;
  background-color: #f1f1f1;
}

.attr-settings-details .input-edit-field {
  margin-bottom: 4px;
}

.attr-settings-details .input-edit-field > * {
  flex: 1;
}

.attr-settings-details .input-edit-field > input {
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 4px 8px;
}

.attr-settings-details label + input[type="checkbox"] {
  margin-left: 48px;
}

.state-container .state-container-body-UI > .header > .fa-plus {
  padding: 6px;
  border-radius: 2px;
}

.state-container-body-UI > .header:has(> i) {
  padding-right: 9px !important;
}

.state-container .state-container-body-UI > .header > .fa-plus:hover {
  background-color: #f1f1f1;
}

.attr-settings-details > .validate-settings > div:first-child {
  justify-content: space-between;
  margin: 6px 2px;
}

.attr-settings-details > .validate-settings > div:first-child > .fa-plus {
  padding: 6px 8px;
}

.attr-settings-details > .validate-settings > div:first-child > .fa-plus:hover {
  background-color: #f1f1f1;
  border-radius: 2px;
}

.list-validate-type-select {
  border-radius: 4px;
  width: fit-content;
  overflow: hidden;
  transform: translateX(-85%);
}

.list-validate-type-select > .regular1 {
  color: white;
  padding: 6px 8px;
  white-space: nowrap;
}

.list-validate-type-select > .regular1:hover {
  background-color: #1890ff;
}

.validate-settings .validate-tile {
  justify-content: space-between;
  padding: 6px 8px;
  margin-bottom: 2px;
  border-radius: 2px;
}

.validate-settings .validate-tile:hover {
  background-color: #f1f1f1;
}

.validate-settings .validate-tile > i {
  border-radius: 2px;
  padding: 6px 8px;
}

.validate-settings .validate-tile > i:hover {
  background-color: #dfdfdf;
}

.valite-item-settings {
  border-radius: 4px;
  width: fit-content;
  overflow: hidden;
  transform: translateX(calc(-100% - 16px));
  border: 1px solid #e5e5e5;
  background-color: white !important;
}

.valite-item-settings > .semibold1 {
  justify-content: space-between;
  padding: 6px 16px;
  border-bottom: 1px solid #e5e5e5;
  width: 100%;
  box-sizing: border-box;
}

.valite-item-settings > .semibold1 > .fa-xmark {
  padding: 6px 8px;
  border-radius: 2px;
}

.valite-item-settings > .semibold1 > .fa-xmark:hover {
  background-color: #f1f1f1;
}

.valite-item-settings > div:last-child {
  padding: 4px 16px;
  gap: 6px;
  width: 100%;
  box-sizing: border-box;
}

.valite-item-settings .input-edit-field > input {
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 4px 8px;
}

.valite-item-settings .input-edit-field > * {
  flex: 1;
}

.popup-add-state-type {
  border-radius: 4px;
  width: fit-content;
  overflow: hidden;
  transform: translateX(-85%);
}

.popup-add-state-type > .regular1 {
  color: white;
  padding: 6px 8px;
  white-space: nowrap;
}

.popup-add-state-type > .regular1:hover {
  background-color: #1890ff;
}

.attr-settings-details > .content-data-container > div:first-child {
  width: 100%;
  justify-content: space-between;
  margin: 6px 2px;
  column-gap: 6px;
}

.attr-settings-details > .content-data-container > div:first-child > .fa-plus {
  padding: 6px 8px;
  display: block;
  font-size: 12px;
}

.attr-settings-details > .content-data-container > div:first-child .fa-caret-left {
  padding: 6px 8px;
}

.attr-settings-details > .content-data-container > div:first-child > .fa-plus:hover {
  background-color: #f1f1f1;
  border-radius: 2px;
}

.content-data-container .prop-data-container {
  width: 100%;
  padding: 4px;
  display: flex;
  align-items: center;
  column-gap: 2px;
  box-sizing: border-box;
}

.content-data-container .prop-data-container > span {
  width: 100%;
  flex: 1;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content-data-container .prop-data-container > span[array-number="true"]::first-letter {
  font-weight: 800;
  color: #8c8c8c;
}

.content-data-container .prop-data-container i {
  display: flex;
  width: 24px;
  aspect-ratio: 1 / 1;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  visibility: hidden;
  font-size: 12px;
}

.content-data-container .prop-data-container > span > i {
  visibility: visible !important;
}

.content-data-container .prop-data-container:hover {
  background-color: #f1f1f1;
}

.content-data-container .prop-data-container:hover > i {
  visibility: visible;
}

.content-data-container .prop-data-container > i:hover {
  background-color: #dfdfdf;
}

.content-data-container .prop-data-container > i:last-child {
  display: none;
}

.fake-data-popup {
  width: 540px;
  padding: 12px 16px;
  border-radius: 6px;
  border: 1px solid #e5e5e5;
  height: fit-content;
  max-height: 480px;
  overflow: hidden;
  transform: translateX(-60%);
  background-color: white !important;
  row-gap: 20px;
}

.fake-data-popup > .body-data-tree {
  flex: 1;
  height: fit-content;
  max-height: 100%;
  overflow: scroll;
  width: 100%;
  box-sizing: border-box;
}

.fake-data-popup > .body-data-tree > .single-prop-tile:first-child > .fa-circle-minus {
  display: none !important;
}

.fake-data-popup > .body-data-tree > .single-prop-tile:first-child > div:first-child {
  height: 0 !important;
}

.body-data-tree {
  row-gap: 20px;
  min-width: fit-content;
  width: 408px;
}

.body-data-tree .fa-circle-plus {
  color: #8c8c8c;
  width: 24px;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.body-data-tree > .single-prop-tile {
  align-items: end;
  column-gap: 8px;
  height: 60px;
}

.body-data-tree > .single-prop-tile > .fa-circle-minus {
  color: #8c8c8c;
  width: 24px;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-6px);
}

.body-data-tree > .single-prop-tile > div:first-child {
  border-bottom: 2px dashed #e5e5e5;
  border-left: 2px dashed #e5e5e5;
  box-sizing: border-box;
  height: calc(100% + 20px);
  transform: translate(8px, calc(-50% + 24px));
}

.body-data-tree > .single-prop-tile:has(> .fa-circle-plus) {
  height: 24px !important;
}

.body-data-tree > .single-prop-tile:has(> .fa-circle-plus) > div:first-child {
  height: 48px;
  transform: translate(8px, calc(-50% + 12px));
}

.body-data-tree > .single-prop-tile > .fa-equals {
  display: flex;
  width: 28px;
  aspect-ratio: 1 / 1;
  align-items: center;
  justify-content: center;
  color: #8c8c8c;
}

.body-data-tree > .single-prop-tile > .prop-input-container {
  row-gap: 8px;
  width: 136px;
}

.body-data-tree > .single-prop-tile > .prop-input-container.prop-index-field {
  row-gap: 8px;
  border-radius: 2px;
  width: 36px !important;
  aspect-ratio: 1 / 1;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: #444444;
  background-color: #f1f1f1;
}

.single-prop-tile > .prop-input-container.helper-text {
  position: relative;
  overflow-y: visible;
}

.single-prop-tile > .prop-input-container.helper-text::after {
  content: attr(helper-text);
  color: #e14337;
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 12px;
  font-weight: 500;
  transform: translate(-7.5%, 92.5%) scale(0.85);
}

.single-prop-tile > .prop-input-container.helper-text > input {
  border-color: #e14337 !important;
}

.body-data-tree > .single-prop-tile > .prop-input-container:nth-child(4) {
  width: 120px !important;
}

.body-data-tree > .single-prop-tile > .prop-input-container label {
  font-size: 12px;
  font-weight: 500;
  color: #8c8c8c;
}

.body-data-tree > .single-prop-tile > .prop-input-container input {
  font-size: 14px;
  font-weight: 400;
  color: #262626;
  width: 100%;
  border-radius: 2px;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  padding: 8px 12px;
  height: 36px;
  cursor: inherit;
}

.body-data-tree > .single-prop-tile > .prop-input-container input:disabled {
  background-color: #f1f1f1;
}

.single-prop-tile > .prop-input-container > .dropdown-select-data-type {
  position: relative;
  width: 100%;
  height: 36px;
}

.single-prop-tile > .prop-input-container:has(> .fa-file-image) {
  position: relative;
}

.single-prop-tile > .prop-input-container > .fa-file-image {
  padding: 6px;
  position: absolute;
  right: 0;
  top: 26.5px;
  color: #8c8c8c;
}

.single-prop-tile > .prop-input-container > .dropdown-select-data-type > i {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #8c8c8c;
  font-size: 12px;
}

.prop-input-container > .dropdown-select-data-type > .dropdow-popup-list-value {
  position: absolute;
  flex-direction: column;
  height: fit-content;
  max-height: 88px;
  width: 100%;
  border-radius: 2px;
  overflow-y: scroll;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: none;
  z-index: 3;
  background-color: #000000;
}

.prop-input-container > .dropdown-select-data-type > .dropdow-popup-list-value div {
  padding: 4px 6px;
  color: white;
}

.prop-input-container > .dropdown-select-data-type > .dropdow-popup-list-value div:hover {
  background-color: #1890ff;
}

.data-submit-footer {
  column-gap: 16px;
  background-color: transparent !important;
}

.data-submit-footer > .fa-trash {
  display: flex;
  width: 24px;
  aspect-ratio: 1 / 1;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  font-size: 14px;
}

.data-submit-footer > .fa-trash:hover {
  background-color: #f1f1f1;
}

.data-submit-footer > .regular1 {
  padding: 8px 20px;
  border-radius: 8px;
}

.data-submit-footer > .cancel-prop-data {
  background-color: #f1f1f1;
  color: #262626;
}

.data-submit-footer > .submit-prop-data {
  background-color: #1890ff;
  color: white;
}

.preview-carousel-data {
  position: relative;
}

.preview-carousel-data > input {
  outline: none;
  background-color: transparent;
  position: absolute;
  cursor: inherit;
  caret-color: transparent;
  z-index: 2;
}

.preview-carousel-data > label {
  column-gap: 6px;
  padding: 2px 8px;
  margin: 0;
}

.preview-carousel-data i {
  color: #262626;
}

.preview-carousel-data:hover {
  background-color: #f1f1f1;
}

.cate-skin-tile:has(> .row > .fa-caret-right) > :not(.row:first-child) {
  display: none;
}

#edit_auto_layout_div .check-box-label {
  height: 36px;
  padding: 4px 8px;
}

#edit_auto_layout_div .check-box-label[disabled="true"] {
  position: relative;
  color: #c4c4c4 !important;
}

.check-box-label[disabled="true"]:hover:after {
  content: "can't scroll with same hug-content direction";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 60%);
  background-color: #000000;
  padding: 8px 6px;
  font-size: 11px;
  color: white !important;
  white-space: nowrap;
  border-radius: 2px;
}

#edit_auto_layout_div .check-box-label > input {
  margin-right: 8px;
  pointer-events: none;
  width: fit-content;
}

#edit_auto_layout_div .check-box-label + .text_field_right_view {
  display: none;
}

#edit_auto_layout_div .check-box-label:has(> input:checked) + .text_field_right_view {
  display: flex;
}
