<!DOCTYPE html>
<html lang="en">

<head>
    <script>
        delete window.exports;
        delete window.module;
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/styles.css" />
    <link rel="stylesheet" href="/CSS/appbar.css" />
    <link rel="stylesheet" href="/CSS/api-view.css" />
    <link rel="stylesheet" href="/CSS/home-old.css" />

    <title>Wini</title>
    <link rel="icon" sizes="any" type="image/svg+xml" href="/lib/assets/logo.svg" />
    <!-- import library outside-->
    <script src="/Script/appconfig.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/bd12e96ffa.js" crossorigin="anonymous"></script>
    <script src="/js/bootstrap-toastr/toastr.min.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/js/bootstrap-toastr/toastr.min.css" rel="stylesheet" />

    <!-- ! New -->
    <script src="/Script/DA/ProjectDA.js"></script>

    <script src="/Script/DA/api-CollectionDA.js"></script>
    <script src="/Script/DA/api-RequestDA.js"></script>
    <script src="/Script/DA/api-InputDA.js"></script>
    <script src="/Script/DA/api-OutputDA.js"></script>
    <script src="/Script/DA/api-RouterDA.js"></script>
    <script src="/Script/Common/PopupDA.js"></script>

    <script src="/Script/utils.js"></script>
    <script src="/Script/enum-obj-event.js"></script>
    <script src="/Script/user-service.js"></script>
    <script src="/Script/JS/title-bar.js"></script>
    <script src="/Script/JS/Wini.js"></script>

    <script src="/Script/Socket/socket.io.js"></script>
    <script src="/Script/Socket/SocketHome.js"></script>

    <script>
        document.onkeydown = function (ev) {
            if (ev.key == "F11") ev.preventDefault()
        }
        window.onload = function () {
            document.addEventListener(
                "contextmenu",
                function (e) {
                    e.preventDefault();
                },
                false
            );
        };
        TitleBarDA.initDataStorage();
        ProjectDA.getByIDApi();
    </script>
</head>

<body class="api-view col">
    <div class="appbar row"></div>
    <div class="home-header row"></div>

    <div class="back-container row">
        <a href="/View/home-screen.html" class="box40 button-transparent text-title">
            <i class="fa-solid fa-chevron-left"></i>
        </a>
        <span class="heading-8 text-title"></span>
    </div>
    <div class="setting-option-container row">
        <div class="setting-option col">
            <button class="collection option-tile button-transparent semibold11 text-placeholder col selected">
                <i class="fa-regular fa-folder fa-lg"></i>
                <span>Collection</span>
            </button>
            <button class="environments option-tile button-transparent semibold11 text-placeholder col">
                <i class="fa-regular fa-folder fa-lg"></i>
                <span>Environments</span>
            </button>
            <button class="router option-tile button-transparent semibold11 text-placeholder col">
                <i class="fa-regular fa-folder fa-lg"></i>
                <span>Router</span>
            </button>
        </div>
        <div class="environments-container api-body-content-container">aaa</div>
        <div class="router-container api-body-content-container col"></div>
        <div class="api-container api-body-content-container row">
            <div class="collection-slide col">
                <div class="header">
                    <div class="add-collection-container row">
                        <span class="text-body heading-9">Collections</span>
                        <button class="add-collection button-transparent text-primary button-text-5">
                            New collection
                            <i class="fa-solid fa-plus fa-sm"></i>
                        </button>
                    </div>
                    <div class="search-request-container row">
                        <i class="fa-solid fa-search fa-xs text-subtitle"></i>
                        <input class="regular1" type="text" placeholder="Search request">
                    </div>
                </div>
                <div class="collection-slide-bar"></div>
                <div class="collection-popup api-popup col">
                    <div class="add-request option-tile regular1 text-white disable-text-select">New request</div>
                    <div class="change-name option-tile regular1 text-white disable-text-select">Change name</div>
                    <div class="delete option-tile regular1 text-white disable-text-select">Delete</div>
                </div>
                <div class="request-popup api-popup col">
                    <div class="change-name option-tile regular1 text-white disable-text-select">Change name</div>
                    <div class="delete option-tile regular1 text-white disable-text-select">Delete</div>
                </div>
            </div>

            <div class="api-content col">
                <div class="opening-tab-container row">
                    <div class="opening-tab-slider row"></div>
                    <button class="add-request-btn box24 button-transparent"><i class="fa-solid fa-plus fa-sm text-subtitle"></i></button>
                </div>


                <div class="col content-container">
                    <div class="url-and-action row ">
                        <button class="choose-method-btn button-transparent text-white">
                            <span>POST</span>
                            <i class="fa-solid fa-chevron-down fa-xs"></i>
                            <div class="choose-method api-popup col">
                                <div data-method="1" class="option-tile regular1 text-white disable-text-select">POST</div>
                                <div data-method="0" class="option-tile regular1 text-white disable-text-select">GET</div>
                            </div>
                        </button>
                        <input class="request-url title-4" type="text" placeholder="Enter request URL">
                        <button class="send-request-btn button-transparent button-text-3 text-white">Send</button>
                        <button class="save-request-btn button-transparent button-text-3 text-white">Save</button>
                    </div>

                    <div class="setting-and-response row">
                        <div class="setting-container">
                            <div class="tabbar row">
                                <div data-type="1" class="params-tab tab heading-9 text-placeholder center selected">Params</div>
                                <div data-type="2" class="headers-tab tab heading-9 text-placeholder center">Headers</div>
                                <div data-type="3" class="body-tab tab heading-9 text-placeholder center">Body</div>
                            </div>
                            <div class="tabbar-views">
                                <div class="params-tab tabbar-view col"></div>
                                <!-- ! không xóa -->
                                <div class="datatype-popup api_popup col">
                                    <div data-type="1" class="option-tile regular1 text-white disable-text-select">string</div>
                                    <div data-type="2" class="option-tile regular1 text-white disable-text-select">int</div>
                                    <div data-type="3" class="option-tile regular1 text-white disable-text-select">double</div>
                                    <div data-type="4" class="option-tile regular1 text-white disable-text-select">bool</div>
                                    <div data-type="5" class="option-tile regular1 text-white disable-text-select">date</div>
                                    <div data-type="6" class="option-tile regular1 text-white disable-text-select">file</div>
                                    <div data-type="7" class="option-tile regular1 text-white disable-text-select">dynamic</div>
                                </div>
                                <div class="select-output-popup api-popup col">
                                    <!-- <div class="option-tile regular1 text-white disable-text-select">None</div>
                                    <div class="block col">
                                        <div class="api-name semibold0 text-subtitle-white disable-text-select row">New collection/ New request</div>
                                        <div class="option-tile regular1 text-white disable-text-select"><span class="option-tile-value">None</span></div>
                                        <div class="option-tile regular1 text-white disable-text-select"><span class="option-tile-value">None</span></div>
                                    </div> -->
                                </div>
                            </div>
                            <!-- ! không xóa -->
                            <!-- <div class="params-tab tabbar-view col">
                            </div>
                            <div class="params-tab tabbar-view col">
                            </div> -->
                        </div>
                        <div class="response-container center col">
                            <div class="header row">
                                <span class="heading-9 text-label">Response</span>
                                <div class="space"></div>
                                <div class="response-code heading-9 text-secondary2"></div>
                                <div class="time-process regular1 text-secondary2"><span class="time"></span> ms</div>
                                <button class="setting-output-btn box36 text-label button-transparent">
                                    <i class="fa-solid fa-gear"></i>
                                </button>
                            </div>

                            <div class="setting-output-container col ">
                                <div class="setting-header row heading-9 text-body">
                                    <span>Setting output</span>
                                    <div class="space"></div>
                                    <button class="get-output-row button-transparent heading-9 text-white background-grey3">Get output form response</button>
                                    <button class="add-output-row button-transparent box36">
                                        <i class="fa-solid fa-plus text-body"></i>
                                    </button>
                                </div>

                                <div class="list-output col"></div>
                            </div>

                            <div class="content regular1 text-title"></div>

                            <div class="select-datatype-output-row api-popup col">
                                <div data-type="1" class="option-tile regular1 text-white disable-text-select">Field</div>
                                <div data-type="2" class="option-tile regular1 text-white disable-text-select">List</div>
                                <div data-type="3" class="option-tile regular1 text-white disable-text-select">Object</div>
                            </div>

                            <div class="select-type-output-row api-popup col">
                                <div data-type="1" class="option-tile regular1 text-white disable-text-select">Default</div>
                                <div data-type="2" class="option-tile regular1 text-white disable-text-select">Static</div>
                                <div data-type="3" class="option-tile regular1 text-white disable-text-select">Storage</div>
                                <div data-type="4" class="option-tile regular1 text-white disable-text-select">Enviroment</div>
                            </div>

                            <div class="select-output-calculate api-popup col"></div>
                        </div>
                    </div>
                </div>
                <div class="no-request center">
                    <img class="box120" src="/lib/assets/logo_wini.svg">
                </div>
            </div>
        </div>
    </div>

    <script src="/Script/Common/layout-header.js"></script>

    <script src="/Script/JS/api-view.js"></script>
    <script src="/Script/JS/api-router-view.js"></script>
    <script src="/Script/JS/api-environments-view.js"></script>
</body>

</html>