<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="#">

    <link rel="stylesheet" href="/css/styles.css" />

    <link rel="stylesheet" href="./design-view-2.css">

    <script src="https://kit.fontawesome.com/bd12e96ffa.js" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
</head>

<body class="design-screen col">
    <div class="window-bar row">

    </div>
    <div class="design-view">
        <div class="tool-bar row">
            <div class="action-container-1 row">
                <button class="text-white home-button">
                    <img class="box32" src="/lib/assets/logo_wini.svg">
                </button>
                <button class="text-white move-button selected">
                    <img class="box20" src="https://cdn.jsdelivr.net/gh/WiniGit/goline@785f3a1/lib/assets/move.svg">
                </button>
                <button class="text-white container-button">3</button>
                <button class="text-white rectangle-button">4</button>
                <button class="text-white component-button">5</button>
                <button class="text-white text-button">6</button>
                <button class="text-white hand-button">7</button>
            </div>

            <div class="action-container-2 row">
                <div class="user-action-list row">
                    <button class="user-active circular background-grey1 box32">1</button> 
                    <button class="user-active circular background-grey1 box32">2</button>
                    <button class="user-active circular background-grey1 box32">3</button>
                </div>

                <button class="share-button text-white background-primary">Share</button>
                <button class="history-button box32"></button>
                <button class="demo-button box32"></button>

                <div class="zoom-percent">100%</div>
            </div>

        </div>
        <div class="canvas-view"></div>
        <div class="left-view"></div>
        <div class="right-view"></div>
        <div class="f12-view"></div>
    </div>
</body>

</html>