.left-view-container .col>*,
.right-view-container .col>* {
    flex-shrink: 0;
}

.left-view-container *:not(i) {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.left-view-container * {
    box-sizing: border-box;
}

.left-view-container button {
    min-width: 24px;
    border: none;
    background-color: transparent;
}


.left-view-container {
    height: 100%;
    max-height: 100%;

    width: 360px;
    min-width: 240px;
    max-width: 524px;

    position: relative;
}

.left-view-container .left-view {
    width: calc(100% - 3px);
    height: 100%;

    overflow: hidden;

    position: relative;
}

/* .left-view-container *::-webkit-scrollbar {
    display: none;
} */


.left-view-container .left-view .tabbar {
    width: 100%;
    height: 32px;

    box-sizing: border-box;
    border-bottom: 1px solid #E6EAF0;

    background-color: white;
}

.left-view-container .left-view .search-container {
    display: none;

    width: 100%;
    height: 32px;

    padding: 0 4px;
}

.left-view-container .left-view.searching .search-container {
    display: flex;
}

.left-view-container .left-view.searching .search-container>button:not(:first-child):hover {
    background-color: #E6EAF0;
    border-radius: 4px;
}

.left-view-container .left-view .search-container .find-value {
    padding: 0 4px;
}


.left-view-container .left-view .list-tab-container {
    width: 100%;
    height: 32px;

    padding: 0 4px;
}

.left-view-container .left-view.searching .list-tab-container {
    display: none;

    overflow: hidden;
}

.left-view-container .left-view .list-tab-container .list-tab {
    margin-right: 4px;
}

.left-view-container .left-view .list-tab-container .list-tab>* {
    padding: 0 4px;

    color: rgb(0, 32, 77, 0.25);
}

.left-view-container .left-view .list-tab-container .list-tab>*.selected {
    color: rgb(0, 32, 77, 0.9);
}

.left-view-container .left-view .list-tab-container .page-selected-container {
    cursor: context-menu;
    overflow: hidden;

    flex: 1;
    justify-content: end;
}

.left-view-container .left-view .list-tab-container .page-selected-container .page-selected {
    text-overflow: ellipsis;
    white-space: nowrap;

    flex: 1;

    overflow: hidden;
    justify-content: end;
}

.left-view-container .left-view .list-tab-container .page-selected-container .page-selected>* {
    display: none;
}

.left-view-container .left-view .list-tab-container .page-selected-container .page-selected>*.show {
    display: flex;

    overflow: hidden;

    flex-shrink: 1;
}


.left-view-container .left-view .tabbar-view {
    width: 100%;
    height: calc(100% - 32px);
}

.left-view-container .left-view .tabbar-view>*[class*="-view"] {
    display: none;
    width: 100%;
    height: calc(100%);

    overflow-x: hidden;
    overflow-y: auto;

    margin-bottom: 6px;
}

.left-view-container .left-view .tabbar-view>*.selected {
    display: flex;
}

.left-view-container .left-view .tabbar-view .list-page-container {
    width: 100%;
    height: 160px;

    min-height: 160px;
    max-height: 400px;

    display: none;
}

.left-view-container .left-view .tabbar-view .list-page-container .add-page-container {
    height: 32px;
    padding-left: 8px;
    padding-right: 4px;
}

.left-view-container .left-view .tabbar-view .list-page-container .add-page-container .label {
    flex: 1;
}

.left-view-container .left-view .tabbar-view .list-page-container .add-page-container .add-page-button:hover {
    background-color: #E6EAF0;
    border-radius: 4px;
}

.left-view-container .left-view .tabbar-view .list-page-container .list-page {
    width: 100%;
    height: calc(100% - 44px);

    overflow-x: hidden;
    overflow-y: auto;

    margin-bottom: 6px;
}

.left-view-container .left-view .tabbar-view .list-page-container .list-page .page-card {
    width: 100%;
    height: 32px;

    padding: 0 12px;
}

.left-view-container .left-view .tabbar-view .list-page-container .list-page .page-card .label {
    flex: 1;
    margin: 0 8px;

    text-align: start;
}

.left-view-container .left-view .tabbar-view .layers-card.selected,
.left-view-container .left-view .tabbar-view .list-page-container .list-page .page-card.selected {
    background-color: rgba(58, 109, 248, 0.1);
}

.left-view-container .left-view .tabbar-view .list-page-container .list-page .page-card.selected>.selected-icon {
    visibility: visible;
}

.left-view-container .left-view .tabbar-view .list-page-container .list-page .page-card>.selected-icon {
    visibility: hidden;
}


.left-view-container .left-view .tabbar-view .layers-view .layers-card.selected {
    background-color: rgba(58, 109, 248, 0.1);
}

.left-view-container .left-view .tabbar-view .layers-view .layers-card {
    height: 32px;
    padding: 0 4px;
}

.left-view-container .left-view .tabbar-view .layers-view .layers-card:hover .button-lock,
.left-view-container .left-view .tabbar-view .layers-view .layers-card.locked .button-lock {
    display: flex;
}

.left-view-container .left-view .tabbar-view .layers-view .layers-card input {
    padding: 0 4px;
}

.left-view-container .left-view .tabbar-view .layers-view .layers-card input:read-only {
    cursor: context-menu;
}

.left-view-container .left-view .tabbar-view .layers-view .group-layer-child {
    display: none;
}

.left-view-container .left-view .tabbar-view .layers-view .layers-card .button-lock {
    display: none;
}

.assets-view .search-assets-container {
    width: 100%;
    height: 32px;

    padding: 0 4px;
}

.assets-view .list-asset {
    width: 100%;
    height: calc(100% - 32px);
}

.left-view-container .resize-line {
    width: 3px;
    height: 100%;

    cursor: e-resize;
    background-color: transparent;

    border-left: 1px solid #E6EAF0;
}

.resize-pages-line {
    width: 100%;
    height: 3px;

    cursor: n-resize;

    border-top: 1px solid #E6EAF0;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #F2F5F8;
    border-radius: 4px;
    width: 8px;
}