<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/styles.css" />

    <link rel="stylesheet" href="./design-view.css">

    <script src="https://kit.fontawesome.com/bd12e96ffa.js" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
</head>

<body class="row" style="background-color: #F5F5F5;">
    <div class="design-container canvas-view"></div>
    <div class="left-view-container row">
        <div class=" left-view col " style=" background-color: white;"></div>
        <div class="resize-line"></div>
    </div>

    <div class="design-view-container row space" style="height: 100%; background-color: #F5F5F5;"></div>

    <div class="right-view-container col" style="width: 260px; height: 100%; border-left: 1px solid #E6EAF0; background-color: white;"></div>


    <script src="../Layout/DesignView/LeftView/left-view.js"></script>
    <script src="./design-view.js"></script>
</body>

</html>