<div class="f12-resize-line"></div>

<div class="header-container row">
    <div class="tab-bar row">
        <div data-tab="1" class="output-tab tab semibold11 text-disable center selected">Output</div>
        <div data-tab="2" class="input-tab  tab semibold11 text-disable center">Input</div>
        <div data-tab="3" class="baseresponse-tab  tab semibold11 text-disable center">Base response</div>
        <div class="list-prototype-data row">
        </div>
    </div>
    <button class="box32 button-transparent close-f12-container"><i class="fa-solid fa-close"></i></button>
</div>

<div class="select-api-container row">
    <button class="change-method-button button-transparent semibold11 text-white background-primary">
        <span class="request-method">POST</span>
        <i class="fa-solid fa-chevron-down fa-xs"></i>
    </button>
    <input class="selected-request regular11" type="text" placeholder="-- Select a request --" disabled>
    <button class="show-select-request-button button-transparent semibold11 text-disable background-disable">
        <span>Select request</span>
        <i class="fa-solid fa-chevron-down fa-xs"></i>
    </button>

    <div class="select-request-popup wini_popup col"></div>
</div>

<div class="tab-bar-view">
    <div data-tab="1" class="output-view view col selected">
        <div class="f12-output-row row f12-setting-row row-header">
            <div class="row regular11 text-title index center">STT</div>
            <div class="row name">
                <input disabled class="text-title regular11" type="text" value="Name field">
            </div>
            <div class="row data-type">
                <input disabled class="text-title regular11" type="text" value="Data type">
            </div>
            <div class="row init-value">
                <input disabled class="text-title regular11" type="text" value="Init value">
            </div>
            <div class="row output-value">
                <input disabled class="text-title regular11" type="text" value="Output">
            </div>
            <div class="row calculate">
                <input disabled class="text-title regular11" type="text" value="Calculate">
            </div>
        </div>
        <div class="list-field col"></div>
        <div class="list-datatype-popup col wini_popup"></div>
        <div class="list-output-popup col wini_popup"></div>
    </div>
    <div data-tab="2" class="input-view  view col ">
        <div class="f12-input-row row f12-setting-row row-header">
            <div class="row index regular11 text-title center">STT</div>
            <div class="row input-value">
                <input class="regular11 text-title" type="text" disabled value="Input">
            </div>
            <div class="row wbase">
                <input class="regular11 text-title" type="text" disabled value="Wbase item">
            </div>
            <div class="row calculate">
                <input class="regular11 text-title" type="text" disabled value="Calculate">
            </div>
        </div>
        <div class="list-field col"></div>
        <div class="list-wbase-popup col wini_popup"></div>
    </div>
    <div data-tab="3" class="baseresponse-view  view col ">
        <!-- <div class="f12-baseresponse-row row f12-setting-row row-header">
            <div class="row regular11 text-title index center">STT</div>
            <div class="row name">
                <input disabled class="text-title regular11" type="text" value="Name field">
            </div>
            <div class="row data-type">
                <input disabled class="text-title regular11" type="text" value="Data type">
            </div>
            <div class="row init-value">
                <input disabled class="text-title regular11" type="text" value="Init value">
            </div>
            <div class="row output-value">
                <input disabled class="text-title regular11" type="text" value="Output">
            </div>
            <div class="row calculate">
                <input disabled class="text-title regular11" type="text" value="Calculate">
            </div>
        </div> -->
    </div>
    <div class="list-tabview-prototype"></div>

</div>