<div class="customer-info row">
    <img class="box32" src="/lib/assets/logo_wini.svg">
    <div class="customer-name col">
        <span class="name heading-8 text-white overflow-elipstic"></span>
        <span class="email subtitle-5 text-subtitle-white overflow-elipstic"></span>
    </div>
</div>
<div class="search-container row">
    <i class="fa-solid fa-search fa-sm text-subtitle-white"></i>
    <input class="header-search-form" type="text" placeholder="Search">
</div>
<div class="space"></div>
<button class="button-transparent text-white semibold1 join-by-code">Join by code</button>
<button class="button-transparent text-white button-text-3 box32 notifi-button"><i class="fa-solid fa-bell"></i></button>
<button class="trans-button customer-setting row button-transparent">
    <div class="box24 background-grey3 circular"></div>
    <i class="fa-solid fa-chevron-down fa-2xs"></i>
    <div class="customer-setting-dropdown col">
        <div class="semibold1 text-white row option-tile border">
            <div class="box24 background-grey3 circular"></div>
            <span class="email regular1 text-white space overflow-elipstic"></span>
        </div>
        <a class="semibold1 text-white row option-tile"><i class="fa-regular fa-user"></i></i> Profile</a>
        <a class="semibold1 text-white row option-tile border"><i class="fa fa-key fa-lock"></i>Change password</a>
        <a class="semibold1 text-white row option-tile" href="/View/login-tool-view.html"><i class=" fa-solid fa-arrow-right-from-bracket"></i>Logout</a>

    </div>
</button>