<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/styles.css" />

    <link rel="stylesheet" href="./left-view.css">

    <script src="https://kit.fontawesome.com/bd12e96ffa.js" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

</head>

<body>
    <div class="design left-view-container row">
        <div class="design left-view col">
            <div class="design tabbar row ">
                <div class="search-button row">
                    <i class="fa-solid fa-search fa-xs text-subtitle"></i>
                    <input class="search-value regular11" value="" placeholder="Find..." />
                    <div class="hide-search row">
                        <i class="fa-solid fa-close fa-xs text-subtitle"></i>
                    </div>
                </div>
                <div class="list-tabs row">
                    <div data-index="1" class="layer-tab row semibold11 text-disable selected">Layer</div>
                    <div data-index="2" class="assets-tab row semibold11 text-disable">Assest</div>
                </div>
                <div class="hide-button row">
                    <i class="fa-solid fa-chevron-down fa-xs text-subtitle"></i>
                </div>

            </div>
            <div class="design tabbar-view">
                <div data-index="0" class="search-view col"></div>
                <div data-index="1" class="layer-view col selected"></div>
                <div data-index="2" class="assets-view col">1</div>
            </div>
        </div>
        <div class="resize-line"></div>
    </div>

    <script>
        var tabSelected = 1;

        var resizing = false;

        // resize view
        $(`body`).on("mousemove", function (ev) {
            if (resizing) {
                $(`.design.left-view`).css({ "width": ev.pageX })
            }
        });

        $(`body`).on("mouseup", function (ev) {
            resizing = false;
        });

        $(`.resize-line`).on("mousedown", function (ev) {
            resizing = true;
        });

        // chuyển tab && tab view
        $(`.list-tabs>*`).on("click", function (ev) {
            $(`.list-tabs>*`).removeClass("selected");
            $(this).addClass("selected");

            tabSelected = $(this).data("index");

            changeTab();
        });

        // search
        $(`.search-button`).on("click", function (ev) {
            $(`.design.tabbar`).addClass("searching");

            changeTab(0);
        });

        $(`body`).on("click", ".search-button .hide-search", function (ev) {
            $(`.design.tabbar`).removeClass("searching");

            changeTab();
        });

        const changeTab = (index) => {
            $(`.design.tabbar-view>*`).removeClass("selected");
            $(`.design.tabbar-view>*[data-index=${index != undefined ? index : tabSelected}]`).addClass("selected");

            // thêm function cập nhật UI vào đây
        }


        const listBaseItem = [
            {
                id: 0,
                name: "0",
                listChild: []
            },
            {
                id: 1, name: "1",
                listChild: [
                    {
                        id: 11,
                        name: "21"
                    },
                    {
                        id: 12,
                        name: "22",
                        listChild: [
                            {
                                id: 121,
                                name: "221"
                            }
                        ]
                    },
                    {
                        id: 122,
                        name: "122"
                    }]
            },
            {
                id: 2,
                name: "2",
                listChild: [
                    {
                        id: 21,
                        name: "aaaaaaaaa"
                    }
                ]
            },
            {
                id: 3,
                name: "111111111",
                listChild: [
                    {
                        id: 31,
                        name: "aaaaaaaaa"
                    }
                ]
            },
            {
                id: 4,
                name: "111111111",
                listChild: [
                    {
                        id: 41,
                        name: "aaaaaaaaa"
                    }
                ]
            },
        ]

        // tạo một layer row
        // thay image vào dòng 143 tương ứng component/ frame/ text/ ...
        const createLayerCard = ({ item, space }) => {
            let layerCard = `
                <div data-id=${item.id} class="layer-card row" style="padding-left: ${space}px">
                    <div data-id=${item.id} class="pre-icon show row">
                        ${item.listChild?.length ? '<i class="fa-solid fa-caret-right fa-xs text-disable"></i>' : ""}
                    </div>
                    <div class="pre-icon row">
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <input class="layer-name regular1 row text-body" value=${item.name} placeholder=null readonly/>
                    <div class="suf-icon"></div>
                </div>`;

            return layerCard;
        }

        // tạo một group layer
        const createGroupCard = (item, space) => {
            let groupCard = '';
            groupCard += createLayerCard({ item: item, space: space });

            if (item.listChild?.length > 0) {
                let groupChild = `<div data-parent=${item.id} class="group-layer-child col">`;
                for (let i of item.listChild) {
                    groupChild += createGroupCard(i, space + 24)
                }
                groupChild += '</div>';

                groupCard += groupChild;
            }

            return groupCard;
        }


        // render toàn bộ html của layer view
        // tạm thời -> thay thế lúc init data và click chuyển tab
        let layerHTML = '';
        for (let item of listBaseItem) {
            layerHTML += createGroupCard(item, 0);
        }

        // gán html vào layer
        $(`.layer-view`).html(layerHTML);

        // ẩn hiện các group layer child
        $(`body`).on("click", ".pre-icon.show", function (ev) {
            $(this).children("i").toggleClass("fa-caret-down fa-caret-right");

            if ($(this).children("i").hasClass("fa-caret-down")) {
                $(`.group-layer-child[data-parent=${$(this).data("id")}]`).css({ "display": "flex" });
            } else {
                $(`.group-layer-child[data-parent=${$(this).data("id")}]`).css({ "display": "none" });
            }
        });


    </script>
</body>

</html>