<!-- <div style="background-color: black; height: 38px"> -->
<div class="title-bar-container row">
    <div data-id="null" class="home-button row nav-tab"><i class=" row fa-solid fa-home"></i></div>
    <div class="tab-container">
        <div class="tabs row">
            <!-- <div class="nav-tab row">
                    <img class="box20" src="/lib/assets/pen.svg">
                    <span class="semibold1 tab-title"></span>
                    <button data-id="' + item.ID + '" class="tab-close button-primary"><i class="fa-solid fa-close fa-sm"></i></button>
                </div> -->
        </div>
    </div>
    <div class="button-add row"><i class=" row fa-solid fa-add fa-xs"></i></div>
</div>

<div class="more-option-tab appbar_popup">
    <div class="option-tile text-white regular1">Pin tab</div>
    <!-- TODO: add function tương ứng => ThuNT77 -->
    <div class="option-tile text-white regular1 border-bottom-light">Reload data</div>
    <div class="option-tile text-white regular1">Close tab</div>
    <div class="option-tile text-white regular1">Close all tab</div>
</div>
<!-- </div> -->